<div>
  <div class="footer pt-[40px] md:px-[80px]">
    <div>
      <div class="flex">
        <a href="https://x.com/avax" target="_blank">
          <img
            aria-label="x social media icon"
            class="w-6 mr-10"
            src="/imgs/icons/x-icon.svg"
          />
        </a>
        <a
          class="mt-[-6px]"
          href="https://discord.com/invite/avax"
          target="_blank"
        >
          <img
            aria-label="Discord social media icon"
            class="w-[55px] mr-5"
            src="/imgs/icons/discord_icon.svg"
          />
        </a>
        <a href="https://www.youtube.com/Avalancheavax" target="_blank">
          <img
            aria-label="you tube social media icon"
            class="w-6 mr-10"
            src="/imgs/icons/youtube-icon.svg"
          />
        </a>

        <a href="https://www.reddit.com/r/Avax/" target="_blank">
          <img
            aria-label="reddit social media icon"
            class="w-6 mr-10"
            src="/imgs/icons/reddit-icon.svg"
          />
        </a>
      </div>
    </div>
    <div>
      <div class="mt-8 max-w-[210px]">
        <img src="/imgs/ava_logo_bw.svg" />
      </div>
    </div>
    <div class="text-lg mt-4">
      <div>&copy; Avalanche 2025</div>
    </div>
  </div>
</div>
