/* .sl-container {
  max-width: 1440px !important;
} */
.astro-bguv2lll {
  overflow-x: hidden;
}
.top-content::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  right: 0;
  bottom: 0;
  background: url("/src/assets/top-mesh.svg") no-repeat top center;
  background-size: 100% auto;
}

.index-content {
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.bottom-content {
  z-index: -1;
  height: 500px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: url("/src/assets/footer-mesh.svg") no-repeat bottom center;
  background-size: 100% auto;
}
